@font-face{
    font-family:"Bauhaus_93 W05 Regular";
    src:url("/Fonts/5683385/86d777be-ba3c-4a21-a94a-41b4f8ddd94b.woff2") format("woff2"),url("/Fonts/5683385/9c942d13-7269-478c-b12e-61ac23fc3e16.woff") format("woff");
}

.bauhaus {
    font-family: "Bauhaus_93 W05 Regular", sans-serif;
}

.body { 
    font-family: 'Quicksand', sans-serif ; 
}