$virgis-purple-000: #f4e4f6 !default;
$virgis-purple-100: #9d41d5 !default;
$virgis-purple-200: #6a00a3 !default;
$virgis-purple-300: #360073 !default;

$virgis-cyan-000: #def4f5 !default;
$virgis-cyan-100: #60f2f2 !default;
$virgis-cyan-200: #00bfbf !default;
$virgis-cyan-300: #008e8f !default;

$body-background-color: $white !default;
$sidebar-color: $virgis-cyan-200 !default;
$search-background-color: $white !default;
$table-background-color: $white !default;
$code-background-color: $grey-lt-000 !default;
$feedback-color: darken($sidebar-color, 3%) !default;

$body-text-color: $grey-dk-100 !default;
$body-heading-color: $grey-dk-300 !default;
$search-result-preview-color: $grey-dk-000 !default;
$nav-child-link-color: $grey-dk-100 !default;
$link-color: $purple-000 !default;
$btn-primary-color: $purple-100 !default;
$base-button-color: #f7f7f7 !default;